# Get yours at https://console.groq.com/keys
GROQ_API_KEY=<apiKey>

# --- CONFIGURATION ---
# Optional: Model selection if you want to change it later
GROQ_MODEL_NAME=llama-3.3-70b-versatile
GROQ_MODEL_NAME=whisper-large-v3-turbo

# --- PATHS ---
# This helps the app find FFmpeg if it's not in your system PATH
FFMPEG_PATH=\meeting_assistant\ffmpeg\ffmpeg-8.0.1-essentials_build\bin
